.Text {
    margin: 0 auto;
    background-color: #F5F6F7;
    width: 970px;
}

.Text p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 970px;
    text-align: center;
    background-color: #F5F6F7;
    font-weight: bold;
}
    