.Footer {
    display: block;
    width: 980px;
    margin: 0 auto;
}

.Footer p {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: right;
    font-weight: 700;
    letter-spacing:1px;
}