input {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 40px;
    margin: 30px auto;
    margin-bottom: 120px;
    background-color: #16a085;
    color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
}
.Button {
    display: block;
    width: 980px;
    background-color: #F5F6F7;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;

}