li {
    margin: 0 59px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 18px;
    padding-top: 20px;  /* внутрішні відступи поля з усіх боків елемента */
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color: #16A085;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}